extends ../layout

block content 
    
    div 
        h1 Books
        div.flex-container
            a.button(href='/books/new') Create New Book 
            form(action='#', method='get')
                input#search-input.search-input(type='search', placeholder='Search...')
                input#search-submit.search-submit(type='submit', value="search")
        br

    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody
            each book in books 
                tr
                    td
                        a(href="/books/" + book.id)= book.title
                    td= book.author
                    td= book.genre
                    td= book.year

